//Página de Cadastro de Exame: Deve conter uma busca de paciente e um formulário para cadastro de consulta com botões editar, deletar e salvar.
//Durante o cadastro, os botões de editar e deletar devem ficar desativados (desabilitados).
//Campos do formulário:
//Nome do Exame: Obrigatório, com máximo e mínimo de 64 e 8 caracteres, respectivamente.
//Data do Exame: Obrigatório, buscando horário atual do sistema e liberando para edição.
//Horário do Exame: Obrigatório, buscando horário atual do sistema e liberando para edição.
//Tipo do Exame: Obrigatório, com máximo e mínimo de 32 e 4 caracteres, respectivamente.
//Laboratório: Obrigatório, com máximo e mínimo de 32 e 4 caracteres, respectivamente.
//URL do Documento: Não obrigatório.
//Resultados: Obrigatório, com máximo e mínimo de 1024 e 16 caracteres, respectivamente.
//Deverá verificar os dados informados antes de cadastrar.
//Deverá criar um identificador único para cada exame cadastrado.
//Deverá apresentar animação ao salvar.

