

<div class="formRegister">
  <div class="card-register">
    <!-- REACTVE FORM-->
    <form (ngSubmit)="cadastrar()" [formGroup]="formRegister"#FormDir="ngForm">
      <div class="form-group">
        <label for= "email">Email</label>
        <input
        id="email"
        name="email"
        formControlEmail="email"
        required
        />

        <div *ngIf="email.invalid && formDir.submitted" class="validation-erro">
          <div *ngIf="form.get('email')?.errors?.['required']">*Campo obrigatório.</div>
          <div *ngIf="form.get('email')?.errors?.['email']"></div>
          <p>O email é obrigatório.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
        id="password"
        name=" password"
        formControlName="senha"
        required
        />

        <div *ngIf="confirmPassword.invalid && formDir.submitted" class="validation-erro">
          <div *ngIf="form.get('confirmPassword')?.errors?.['required']">*Campo obrigatório.</div>
          <div *ngIf="form.get('confirmPassword')?.errors?.['confirmPassword']"></div>
          <p>Confirmar senha</p>
        </div>
        <div *ngIf="password.invalid && formDir.submitted" class="validation-erro">
          <div *ngIf="form.get('password')?.errors?.['required']">*Campo obrigatório.</div>
          <div *ngIf="form.get('password')?.errors?.['password']"></div>
          <p>A senha é obrigatória!</p>
        </div>
      </div>
      <div class="form-group">
        <label for ="confirmPassword">Confirmar senha</label>
        <input
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        required
        />

      </div>

      <div class="form-btn">
        <button type="submit">Cadastrar</button>
        <button (click)="criarForm()">Limpar</button>
      </div>

    </form>


